* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
body {
	color: #fff;
	font-family: sans-serif;
	font-size:13px;
	text-align:center;
	font-weight: regular;
	background-color: #fff;
	margin: 0px;
	overflow: hidden;
}
#info {
	color: white;
	position: absolute;
	top: 0px;
	left: 50%;
	transform: translateX(-50%);
	margin: 10px auto;
	text-align: center;
	padding: 0px;
}

.dateinfo {
	display: block;
	width: 100%;
	text-align: center;
	padding-top: 5px;
	font-size: 1.4em;
		color: #FFF;
		position: absolute;
		top: 5px;
		left: 10px;
}

#play {
	display: none;
}

a {
	color: #FFF;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	padding-top: 6px;
	border-radius: 3px;
}
ul {
	padding: 0;
	width: 100%;
	margin: 5px auto;
	font-size: 1em;
	letter-spacing: 0;
	text-align: center;
	display: flex;
	align-items: center;

	/* margin: 0 10px; */
}

a img {
	height: 70%;
}

li {
	display: inline-block;
	box-sizing: border-box;
	width: 13%;
	margin: 0 auto;
	list-style: none;
	border-radius: 5px;
}

#settingspanel {
	position: absolute;
	top: 0px;
	left: -350px;
	background-color: #222;
	opacity: 0.90;
	padding: 10px;
	padding-top: 30px;
	min-height: 300px;
	width: 350px;
	box-sizing: border-box;
	transition: all .3s ease-in-out;
	/* border: 1px solid #DDD; */
	/* border-radius: 3px; */
	/* z-index: 10000; */
	/* background: #000; */
}
.show {
	left: 0px !important;
}

#mainscene {
	position: absolute;
	/* top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); */
	background: white;
	width: 100vw;
	height: 100vh;
}

.settings_button {
	border: none;
	display: block;
	background-color: #3399ff;
	width: 100%;
	height: 20px;
	border-radius: 3px;
	box-sizing: border-box;
	padding: 3px;
	margin: 5px auto;
	/* margin: 2px; */
}
.playpause {
	background: #3399ff;
	position: relative;
	transition: background-color .15s ease-in-out;
}

.playpause::before{
	content: '';
	box-sizing: border-box;
	height: 12px;
	transform: translate(-50%, -50%);
	position: absolute;
	top: 50%;
	left: 50%;
	border-left: 12px solid #fff;
}

.paused {
	background: #ff9933;
}

.paused::before{
	content: '';
	box-sizing: border-box;
	width: 12px;
	height: 12px;
	transform: translate(-50%, -50%) rotate(45deg);
	position: absolute;
	top: 50%;
	left: 40%;
	/* background-color: #000; */
	border-top: 12px solid #fff;
	border-left: 12px solid transparent;
}

.sd {
	width: 100%;
	text-align: center;
}

.settings_button:hover {
	background-color: #DDD;
	color: #000;
}



.eventinfo {
	color: #00ff00;
	text-align: center;
	font-weight: bold;
	margin-top: 5px;
	font-size: 1.2em;
	animation: blink 1.5s infinite;
}

#timespeed, #slowdown {
	display: inline-block;
}

.datepickerfield {
	height: 20px;
	width: 72%;
	display: inline-block;
	border: none;
	margin-left: 7px;
	background: #90c8ff;
	color: #FFF;
	font-size: 1em;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	text-align: center;
	content: "Wybierz date";
	border-radius: 3px;
}

.row {
	position: relative;
	width: 90%;
	left: 0px;
	text-align: left;
	margin: 5px auto;
	padding-top: 5px;
	/* border: 1px solid white; */
}

#tstat {
	color: #FFF;
}

.podajdate {
	display: inline-block;
	width: 25%;
	margin: 0px;
}

.slidecontainer {
	width: 100%;
	/* background: purple; */
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	margin-top: 15px;
}

.slidecontainer p {
	display: block;
	width: 60%;
	text-align: left;
	margin-bottom: 0px;
	margin-top: 0px;
}

.resetskali, .realscale {
	flex: 15%;
	display: block;
	height: 20px;
	background: #3399ff;
	text-align: center;
	padding: 2px;
	box-sizing: border-box;
	border-radius: 5px;
	margin: 0px 3px;
}

.resetskali:hover {
	background-color: #DDD;
	color: #000;
}

#rangeval {
	display: block;
	width: 20%;
	text-align: center;
	flex: 20%;
	margin: 10px 0px;
}

.slider {
	flex: 75%;
	/* width: 80% !important; */
}

.visibilitycontainer {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	margin-bottom: 3px;
	/* border-bottom: 1px dotted #ddd; */
}
.visibilitycontainer p {
	margin: 0px;
}

.orbitconfigcontainer {
	/* margin-top: 15px; */
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;
}

.orbitconfigcontainer p {
	flex: 100%;
	display: block;
	text-align: left;
	margin: 5px 0px 0px 0px;
}

.orbitconfigcontainer .allorbitcheck {
	flex: 100%;
	/* margin-bottom: 5px; */
}

.specifiedorbitchecks {
	flex: 100%;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.specifiedorbitchecks div {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	
}
.specifiedorbitchecks div p {
	flex: 100%;
	text-align: center;
	margin-top: 0px;
}

.buttonscontainer {
	display: flex;
	width: 100%;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.buttonscontainer button {
	padding: 5px;
	color: #FFF;
	background-color: #3399FF;
	border: none;
	border-radius: 3px;
	transition: background-color .15s ease-in-out, color .15s ease-in-out;
}

.buttonscontainer .activelistbtn {
	background-color: #ff9933;
	color: #fff;
}

.buttonscontainer button:hover {
	background-color: #DDD;
	color: #222;
}

.listcontainer {
	width: 100%;
	background: #333;
}

.conlist {
	width: 100%;
	/* height: 300px; */
	max-height: 100%;
	/* background: BLUE; */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.conlist li {
	width: 30%;
	flex: 30%;
	text-align: center;
	font-size: 1em;
	color: #FFF;
	cursor: pointer;
	font-weight: bold;
	transition: color .15s ease-in-out;
}

#jupiterlist, 
#marslist, 
#saturnlist, 
#uranuslist, 
#neptunelist {
	display: none;
}

.conlist li:hover {
	color: #3399FF;
}

#sizes, #distances, #cameraresetbtn {
	color: #FFF;
	border: none;
	background-color: #ff9933;
	box-sizing: border-box;
	padding: 5px 10px;
	margin: 0px 10px;
	border-radius: 3px;
	transition: background-color .15s ease-in;
}

#cameraresetbtn {
	position: absolute;
	bottom: 110px;
	right: 0px;
	transition: opacity .15s ease-in-out;
}

#sizes:hover , #distances:hover, #cameraresetbtn:hover {
	background-color: #3399FF;
}

#chosen {
	font-weight: bold;
	margin: 0px 5px;
}

#toggler {
	position: absolute;
	bottom: 110px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-left: 10px;
}

.planetscomparison, .distancescomparison {
	width: 100%;
	height: 100px;
	bottom: 0px;
	box-sizing: border-box;
	position: absolute;
	opacity: 0.9;
	color: #FFF;
	font-size: .8em;
	text-align: left;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 0;
	transition:  transform .15s ease-in-out;
}

.planet {
	height: 100px;
	width: 100px;
	background: #3399ff;
	border-radius: 50%;
	display: inline-block;
	margin: 10px auto;
	text-align: center;
}

.planetsizecontainer {
	position: relative;
    text-align: center;
    /* height: 100px;
    min-width: 100px; */
	display: flex;
	flex-direction: column;
	justify-content: space-around;
    align-items: center;
}

.hitbox {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background: #222;
	transition: background-color .15s ease-in-out;
	/* background: #aaa; */
}

.hitbox:hover {
	background: #555;
	cursor: pointer;
}

.planet:hover {
	background: #DDD;
}

.plabel, .slabel{
	position: absolute;
	top: 0px;
	left: 50%;
	transform: translate(-50%, -50%);
}

.slabel {
	left: 5%;
	top: 50%;
	z-index: 100;
}

#sun {
	position: absolute;
	left: -270px;
	top: 420px;
	transform: translate(-50%, -50%);
	height: 990px;
	width: 990px;
	margin: 0px;
	background-image: url("textures/sunmap.jpg");
	/* background-size: cover; */
}

#mercury {
background: url("textures/mercurymap.jpg");
	background-size: cover;
}

#venus{
background: url("textures/venusmap.jpg");
	background-size: cover;
}

#earth {
	background-image: url("textures/earthmap1k.jpg");
	background-size: cover;
}

#mars {
background: url("textures/marsmap.jpg");
	background-size: cover;
}

#jupiter {
	background: url("textures/jupitermap.jpg");
	background-size: cover;
}

#saturn {
	background: url("textures/saturnmap.jpg");
	background-size: cover;
}

#uranus {
background: url("textures/uranusmap.jpg");
	background-size: cover;
}

#neptune {
background: url("textures/neptunemap.jpg");
	background-size: cover;
}


.distancescomparison {
	justify-content: left;
}

.pdist {
	width: 0px;
	position: absolute;
	border-right: 1px solid #DDD;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: right;
}

.pdist p {
	transform: rotate(-90deg) ;
	position: absolute;
	display: block;
	width: 100%;
	left: -5px;
	bottom: 0%;
	text-align: center;
}
#asteroiddist {
	border: 1px dashed #DDD;
}

.slideddown {
	transform: translateY(120px);
}
.hiddentogglerbtn {
	display: none;
}

#planetinfopanel {
	position: absolute;
	box-sizing: border-box;
	top: 0px;
	right: -350px;
	width: 350px;
	padding: 5px;
	padding-top: 10px;
	max-height: 85vh;
	background: #222;
	/* border: 1px solid #DDD; */
	opacity: .9;
	overflow-x: scroll;
	transition: all .5s ease-in;
}

.infopanelvisible {
	right: 0px !important;
}

#planetinfopanel div {
	margin: 10px 0px;
	/* box-sizing: border-box; */
}

#planetinfopanel::-webkit-scrollbar { width: 0 !important }

.descriptioncontainer {
	padding: 10px;
	background: #333;
	width: 320px;
	margin: 0px auto !important;
}

.descriptioncontainer .category {
	/* height: 350px; */
	background: #333;
	color: #3399ff;
	display: block;
	font-size: 1.2em;
	padding: 5px;
	text-align: left;
}

.descriptioncontainer p {
	text-align: justify;
	font-size: 14px;
}

.container div {
	width: 100%;
	padding: 0px 20px;
	text-align: left;
}

.container {
	border-bottom: 1px dotted #555;
}

#description {
	text-align: justify;
}

#plive {
	margin: 0px;
	padding: 0px;
	display: block;
	opacity: 0;
	transition: all .5s ease-in;
}

#pname {
	font-weight: bold;
	font-size: 20px;
	color: #ff9933;
}

#canvas {
	/* position: relative; */
	width: 320px;
	height: 180px;
	/* background: purple; */
	margin: 0px auto !important;
	opacity: 1;
	z-index: 2;
}

#tinfop, #settingsbtn {
	width: 40px;
    height: 40px;
    transform: translate(-50%,-50%);
    position: absolute;
    border-radius: 50%;
    top: 50%;
    right: 350px;
    border: none;
    background-color: #333;
    cursor: pointer;
    box-sizing: border-box;
	opacity: 0;
	transition: opacity 1s ease-in-out;
}

#settingsbtn {
	top: 50%;
	left: 390px;
	background-image: url("icons/cogs-01.png");
	background-position: center;
	background-size: 60%;
	background-repeat: no-repeat;
}

.settingsbtnclass {
	opacity: 1 !important;
}

#asidebtn {
	/* content: ''; */
	/* color: #DDD; */
	display: block;
    box-sizing: border-box;
    position: absolute;
    top: 30%;
    left: 23%;
    /* background: white; */
    transform: translate(-50%, -50%);
    transform: rotate(225deg);
    border-bottom: 2px solid #3399ff;
    border-left: 2px solid #3399ff;
    width: 16px;
    height: 16px;
    transition: all .2s ease-in-out;
    margin: 0px !important;
}
#asidebtn:hover {
	border-bottom: 2px solid #DDD;
	border-left: 2px solid #DDD;
}

@keyframes blink {
	0% {
		color: #FF0000;
	}
	50% {
		color: #00ff00;
	}
	100% {
		color: #FF0000;
	}
}