@charset "UTF-8";
/* CSS Document */
@font-face {
font-family: "magic";
src: url("magicfont.ttf");
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: #efcdcd;
	padding-bottom: 50px;
	/*overflow: hidden;*/
}

ul{
	margin: 0 auto;
	width: 70%;
	height: 50px;
	justify-content: center;
	display: flex;
 	flex-wrap: nowrap;
	align-items: center;
}

li {
	list-style: none;
	margin: 0 auto;
	height: 100%;
	/*padding: 15px 0;*/
	width: 20%;
/*	display: inline-block;*/
/*	width: 15%;*/
	text-align: center;
	display: block;
	box-sizing: border-box;
	/*transition: all .2s ease-in;*/
}

li:hover {
	background-color: #f2d7d7;
	color: #FFF;
}

.navwrapper {
	height: 50px;
}

.navbar {
	width: 100%;
	/*padding: 15px 0;*/
	padding: 0;
	background-color: #f8eaea;
	color: #979898;
	font-size: 1em;
/*	padding-top: 15px;*/
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.33);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.33);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.33);
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	position: fixed;
	z-index: 100;
}
.header {
	width: 90%;
/*	height: 200px;*/
	padding-top: 70px;
	padding-bottom: 30px;
	border-bottom: 1px solid #FFFFFF;
	margin: 0 auto;
	text-align: center;
	color: #FFFFFF;
}
.header p {
	font-size: 1.2em;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	margin-top: 15px;
	/*bottom: 50px;*/
	
}

h1{
	font-family: 'magic', cursive;
	font-size: 4em;
}

h4 {
	font-family: 'magic', cursive;
	font-size: 2em;
	color: #FFFFFF;
	text-align: center;
	margin-bottom: 20px;

}

.social {
	border-bottom: 1px solid #FFFFFF;
	border-top: 1px solid #FFFFFF;
	margin: 0 auto;
	margin-top: 5px;
	width: 90%;
	padding: 15px 0;
	text-align: center;
	color: #FFFFFF;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}

a {
	text-decoration: none;
	display: inline-block;
	padding: 15px 0;
	height: 100%;
	width: 100%;
	transition: color .0s ease-in;
}

a:visited, a:active, a:link {
	color:#979898;
}

a:hover {
	color: #fff;
}

.jumbotron {
	width: 90%;
	margin: 0 auto;
	padding:35px 0;
	border-bottom: 1px solid #fff;
}
#kwiaty {
	margin: 0 auto;
	width: 70%;
	position: relative;
}
#kwiaty img {
	border-radius: 3px;
	-webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.33);
	-moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.33);
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.33);
}

#ramka {
	position: absolute;
	top: 50%;
	left: 50%;
	background-color: #ffffff;
	padding: 10%;
	transform: translate(-50%,-50%);
	color: #979898;
	font-family: 'magic', cursive;
	font-size: 2em;
	border-radius: 3px;
	-webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.33);
	-moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.33);
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.33);
		
}

.about {
	width: 90%;
	border-bottom: 1px solid #fff;
	margin: 0 auto;
	padding: 85px 0;

}

.about p, .contact p {
	font-size: 1em;
	color: #ffffff;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	text-align: justify;
	width: 70%;
	margin: 0 auto;
}

.portfolio {
	width: 90%;
	margin: 0 auto;
	padding: 85px 0;
	border-bottom: 1px solid #fff;
}

.galery {
	display: flex;
	justify-content: center;
}

.galery img {
	border-radius: 3px;
	width: 30%;
	height: 30%;
	margin: 7px;
	-webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.33);
	-moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.33);
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.33);
}

.contact {
	width: 90%;
	margin: 0 auto;
	padding: 85px 0;
	border-bottom: 1px solid #fff;
}

.contact p {
	text-align: center;
	margin-bottom: 20px;
}

.textcontainer {
	margin:0 auto;
	width: 70%;
	text-align: center;
	position: relative;
}
.textbox {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	margin: 0 auto;
	font-size: 1em;
	width: 100%;
	min-height: 400px;
	padding: 10px;
		-webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.33);
	-moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.33);
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.33);
	border: none;
}

button {
	height: 50px;
	width: 150px;
	color: #fff;
	position: relative;
	right: 0;
	background-color: #979898;
	border: none;
	-webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.33);
	-moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.33);
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.33);
	margin: 20px;
	font-size: 1em;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	border-radius: 3px;
}

button:hover {
	background-color: #f2d7d7;
}

.blog {
	width: 90%;
	margin: 0 auto;
	padding: 85px 0;
	border-bottom: 1px solid #fff;
}

.blogcon {
	margin: 0 auto;
	width: 70%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 40px;

}

.blog img {
	height: auto;
	max-width: 100%;
	display:block;
	border-radius: 3px;
}
.element {
	position: relative;
	width:45%;
	height: 45%;
	border-radius: 3px;
	-webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.33);
	-moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.33);
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.33);
	margin: 7px;
}

.eldesc {
	background-color: #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	font-family: "magic", cursive;
	font-size: 1.5em;
	color: #979898;
	width: 55%;
	height: 50%;
	text-align: center;
	padding: 10%;
	-webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.33);
	-moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.33);
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.33);
	border-radius: 3px;
}

.data {
	position: absolute;
	bottom: 5px;
	left: 50%;
	transform: translateX(-50%);
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: .7em;

}


























